.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: rgb(11, 24, 13);
  background-color: rgb(106, 233, 255);
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid rgb(12, 226, 66);
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: rgb(13, 165, 49);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
}

.link-btn {
  background: none;
  color: rgb(28, 175, 82);
  text-decoration: underline;
}

/* Here is the css styling for the calorie handling section*/

.calorie-menu-item {
  max-width: 200px;
}

.calorie-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid rgb(12, 226, 66);
  border-radius: 10px;
  margin: 0.5rem;
}

.calorie-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.calorie-item:last-child {
  border-bottom: none;
}

.calorie-item input,
.calorie-item select {
  padding: 0.25;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.calorie-item input,
.calorie-item select,
.calorie-item button {
  margin-left: 0.5rem;
}

.calorie-total {
  margin-top: 1rem;
  font-weight: bold;
}

/* Here is styling for search bar*/

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
  margin-bottom: 1rem;
}

.search-form input {
  flex-grow: 1;
  margin-right: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.search-form button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(13, 165, 49);
  color: #fff;
}

.search-form button:hover {
  background-color: rgb(5, 123, 23);
}

/* ===== SEARCH RESULTS AND SAVED FOODS STYLES ===== */

.foods-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  border: 1px solid rgb(12, 226, 66);
  border-radius: 10px;
  margin: 0.5rem;
}

@media screen and (min-width: 800px) {
  .foods-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.search-results {
  width: 100%;
}

.saved-foods {
  width: 100%;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  padding: 1rem;
}

/* Buttons in the search results and saved foods sections */

.calorie-item button,
.saved-foods button {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(13, 165, 49);
  color: #fff;
  margin-left: 0.5rem;
}

.calorie-item button:hover,
.saved-foods button:hover {
  background-color: rgb(5, 123, 23);
}

/* Total calories */

.calorie-total {
  margin-top: 1rem;
  font-weight: bold;
  color: rgb(28, 175, 82);
}

.food-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 1rem;
}
.section-white {
	background: #fff;
	padding: 70px 0;
}

.team-item{
	background: #f4f5f6;
	text-align:center;
	margin:20px 0;
	padding:50px 20px 40px 20px;
	border-radius: 8px 8px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.team-item:hover{
	background: #3956de;
	color: white;
}

.team-item h3{
	margin:20px 0 1px 0!important;
	color:#454545;
	font-size:18px;
	font-weight: 700;
	text-transform:uppercase;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
}

.section-subtitle {
	white-space: pre-line;
 }

.team-item:hover h3{
	color:#ddd;
}

.team-info {
	display: block;
	margin-bottom:0;
}

.team-info p{
	color:#acacac;
	font-style:italic;
}

.team-info::after {
    background: #008aff;
    background: -webkit-linear-gradient(135deg, #6B02FF 0%, #985BEF 100%);
    background: -o-linear-gradient(bottom right, #6B02FF, #985BEF);
    background: -moz-linear-gradient(bottom right, #008aff, #1ad2fd);
    background: linear-gradient(135deg, #6B02FF 0%, #985BEF 100%);
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 50px;
    height: 3px; 
}

.team-img{
	max-width: 140px;
	padding: 6px 6px;
    background-color: #dedede;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

ul.team-icon {
	margin-top: 25px;
}

ul.team-icon li{
	display: inline-block;
	margin:0 3px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

ul.team-icon li a{
	margin: 0;
	display: inline-block;
	padding: 8px 8px;
	width: 34px;
	height: 34px;
	font-size: 18px;
	line-height: 18px;
	background-color: #fff;
	border-radius: 50%;
	color:#fff;
}

ul.team-icon li a.twitter{
	background-color: #4099ff;
}

ul.team-icon li a.pinterest{
	background-color: #C92228;
}

ul.team-icon li a.facebook{
	background-color: #3b5998;
}

ul.team-icon li a.dribble{
	background-color: #ea4c89;
}

.team-icon li a:hover{
	color:#dedede;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.section-white {
	background: #fff;
	padding: 70px 0;
}

.team-item{
	background: #f4f5f6;
	text-align:center;
	margin:20px 0;
	padding:50px 20px 40px 20px;
	border-radius: 8px 8px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.team-item:hover{
	background: #3956de;
	color: white;
}

.team-item h3{
	margin:20px 0 1px 0!important;
	color:#454545;
	font-size:18px;
	font-weight: 700;
	text-transform:uppercase;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
}

.section-subtitle {
	white-space: pre-line;
 }

.team-item:hover h3{
	color:#ddd;
}

.team-info {
	display: block;
	margin-bottom:0;
}

.team-info p{
	color:#acacac;
	font-style:italic;
}

.team-info::after {
    background: #008aff;
    background: -webkit-linear-gradient(135deg, #6B02FF 0%, #985BEF 100%);
    background: -o-linear-gradient(bottom right, #6B02FF, #985BEF);
    background: -moz-linear-gradient(bottom right, #008aff, #1ad2fd);
    background: linear-gradient(135deg, #6B02FF 0%, #985BEF 100%);
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 50px;
    height: 3px; 
}

.team-img{
	max-width: 140px;
	padding: 6px 6px;
    background-color: #dedede;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

ul.team-icon {
	margin-top: 25px;
}

ul.team-icon li{
	display: inline-block;
	margin:0 3px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

ul.team-icon li a{
	margin: 0;
	display: inline-block;
	padding: 8px 8px;
	width: 34px;
	height: 34px;
	font-size: 18px;
	line-height: 18px;
	background-color: #fff;
	border-radius: 50%;
	color:#fff;
}

ul.team-icon li a.twitter{
	background-color: #4099ff;
}

ul.team-icon li a.pinterest{
	background-color: #C92228;
}

ul.team-icon li a.facebook{
	background-color: #3b5998;
}

ul.team-icon li a.dribble{
	background-color: #ea4c89;
}

.team-icon li a:hover{
	color:#dedede;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
#about-us{
font-size: 30px;
  width: 350px;
  margin: auto;

}
#home{
	font-size: 30px;
width: 350px;
margin: auto;
margin-top: 2%;
}